<div class="container-fluid" *ngIf="boardId">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-3 mb-3">{{getBoardName()}}</h3>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xl-3" *ngFor="let item of lists;let i = index">
              <div class="list-box">
                <div class="header">
                  <h6 (click)="item.nameEditable = true" *ngIf="!item.nameEditable">{{item.name}}</h6>
                  <input type="text" class="form-control" *ngIf="item.nameEditable" (keyup.enter)="item.nameEditable = false" [(ngModel)]="item.name">
                  <i class="fa fa-ellipsis-h" (click)="toggleDelete(i)"></i>
                  <div class="delete-list" *ngIf="item.showDelete">
                    <p (click)="deleteList(i)">Delete List</p>
                  </div>
                </div>
                <div class="tasks">
                  <div class="task" *ngFor="let task of item.tasks; let j = index">
                    <p>{{task.taskText}}</p>
                  </div>
                </div>
                <div class="adding-task" *ngIf="item.addTask">
                  <div class="create-task">
                    <textarea class="form-control mt-3" #taskName placeholder="Add task..."></textarea>
                    <div class="btns-box mt-2">
                      <button class="btn btn-default btn-small btn-primary float-right mt-1" (click)="saveTask(i, taskName.value)">Save</button>
                      <button class="btn btn-default btn-small float-right mt-1" (click)="item.addTask = false">Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="add-task" (click)="initiateNewTask(i)" *ngIf="!item.addTask">
                  <div class="title">
                    Add a task
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xl-3" (click)="createNewList = true" *ngIf="!createNewList">
              <div class="list-box new">
                <div class="header new-list">
                  <div class="create-new-list">
                    <p>Create a new list...</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xl-3">
              <div class="list-box create-new" (click)="createNewList = true" *ngIf="createNewList">
                <div class="create-new-inner">
                  <h6>Create a new list...</h6>
                  <div class="text-box text-center">
                    <input type="text" class="form-control f-13" [(ngModel)]="newListName" name="newListValue">
                  </div>
                  <div class="btns-box">
                    <button class="btn btn-default btn-small btn-primary float-right mt-1" (click)="saveList()">Save</button>
                    <button class="btn btn-default btn-small float-right mt-1" (click)="cancelNewList()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>